*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    box-sizing: border-box;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body{
    max-width: 1440px;
    width: 100%;
}
#header{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 30px;
    padding-left: 100px;
}
.head-content{
    width: 600px;
}
.img-content img{
    height: 772px;
    width: 100%;
}

.head-content h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 130%;
    color: #575757;
    margin-bottom: 40px;
    margin-top: 200px;
}
.head-content h1 span{
    color: orange;
}
.head-content p{
    color: #828282;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 50px;
}
.head-content button{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    padding: 22px 44px;
    background-color: #FF1E1E;
    border-radius: 100px;
    cursor: pointer;
}
.head-content button:hover{
    background-color: aquamarine;
}
#mid-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    max-width: 1440px;
    width: 100%;
    background-image: url('image/shapes/Frame\ 57.jpg');
    background-size: cover;
    margin-bottom: 72px;
}
#mid-content .a img{
    height: 500px;
    margin-left: 50px;
    margin: 65px 199px 0 198px;
}
#mid-content .b{
    width: 540px;
    margin-top: 80px;
}
#mid-content .b h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: 707070;
    margin-bottom: 32px;
}
#mid-content .b p{
    color: #18191F;
    font-size: 1rem;
    line-height: 32px;
    margin-bottom: 50px;
}
#mid-content .b button{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 130%;
    padding: 22px 36px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px #FC8F49;
    background-color: #ff621e;
    cursor: pointer;
}
#mid-content .b button:hover{
    background-color: aquamarine;
}
#mid{
    max-width: 1440px;
}
#mid .p{
    margin: 0 auto;
    width: 707px;
    text-align: center;
}
#mid .p h1{
    color: #676767;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#mid .p p{
    color: #252525;
    font-size: 1.125rem;
    line-height: 137%;
    margin-bottom: 40px;
}
#box-container{
    max-width: 1440px;
}
#box-container .content{
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
#box-container .content .a{
    padding: 30px;
    box-shadow: 0 4px 40px 0 #0000002b;
    border-radius: 30px;
    width: 610px;
    cursor: pointer;
}
#box-container .content .a:hover{
    background-color: #f6aaf2;
}
#box-container .content .a img{
    width: 100%;
}
#box-container .content .a h3{
    color: #18191F;
    font-size: 1.75rem;
    line-height: 40px;
    margin-bottom: 10px;
}
#box-container .content .a p{
    color: #18191F;
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 40px;
}
#middle{
    max-width: 1440px;
}
#middle .p{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 64px 0;
    box-shadow: 0 4px 40px 0 #0000002b;
    border-radius: 20px;
    margin-bottom: 92px;
    cursor: pointer;
}
#middle .p:hover{
    background-color: rgb(165, 219, 253);
}
#middle .p h1{
    color: #18191F;
    font-size: 3rem;
    font-weight: bold;
    line-height: 64px;
    margin-bottom: 8px;
}
#middle .p p{
    color: #18191F;
    font-size: 1rem;
    line-height: 26px;
}
footer{
    max-width: 1440px;
    background-color: #0B0D17;
    padding: 50px 510px 115px 510px;
}
footer .a{
    width: 420px;
    margin: 0 auto;
    text-align: center;
}
footer .a h1{
    font-size: 1.9rem;
    font-weight: bold;
    color: #5B5B5B;
    margin-bottom: 37px;
}
footer .a h1 span{
    color: #FBA24F;
}
footer .a p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 26px;
}
.hide{
    display: none!important;
}

@media screen and (max-width: 576px) {
    *{
        box-sizing: border-box;
        max-width: 576px;
        margin: 0;
        padding: 0;
    }
    #header{
        max-width: 425px;
        flex-direction: column;
        padding-left: 0;
        padding-top: 0;
        padding: 0;
    }
    .head-content{
        width: 350px;
        text-align: center;
    }
    .head-content h1{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .head-content p{
        margin-bottom: 20px;
    }
    .head-content button{
        font-size: 14px;
        padding: 11px 22px;
    }
    .img-content img{
        height: 100%;
        width: 100%;
    }
}


@media screen and (min-width: 577px) and (max-width: 768px){
    *{
        box-sizing: border-box;
        max-width: 768px;
        margin: 0;
        padding: 0;
    }
    #header{
        max-width: 768px;
        flex-direction: column;
        padding-left: 0;
        padding-top: 0;
        padding: 0;
    }
    .head-content{
        text-align: center;
    }
    .head-content h1{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .head-content p{
        margin-bottom: 20px;
    }
    .head-content button{
        font-size: 16px;
        padding: 14px 28px;
    }
    .img-content img{
        height: 60%;
        width: 60%;
    }
    .img-content{
        display: flex;
        justify-content: center;
    }
}